<%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/admin.css">
    </head>

    <body>
        <div class="container flex w-100">
            <div class="primary-navbar invisible">
                <%- include('./partials/primary-nav') %>
            </div>
            <main class="w-100" id="index-main">
                <%- include('./partials/nav') %>
                <div class="content">
                    <div class="heading">
                        <h1 class="uppercase">Admin Panel</h1>
                    </div>
                </div>
            </main>
        </div>
        <script src="/javascript/admin/index.js"></script>
    </body>

    </html>