<footer class="flex flex-column text-center" id="footer">
    <section class="contact-info flex flex-column">
        <a href="/" class="logo"><img src="/images/logo.svg" alt=""></a>
        <div class="cube"></div>
        <div class="contact-content flex flex-column">
            <address class="flex">
                <img class="inline" src="/images/icon-location.svg" alt="location-outline" width="10px"
                    height="15px">
                <span>123 Main St, Anytown USA</span>
            </address>
            <div class="footer-mail flex">
                <img class="inline" src="/images/envelope-regular.svg" alt="envelope-regular" class="top-icons"
                    width="14px" height="15px">
                <a href="mailto:">booking@reserva.com</a>
            </div>

            <span class="booking">
                <h3 class="uppercase">
                    <span class="flex">
                        <span>Booking</span>
                        <span style="line-height: 1.3;">:</span>
                    </span>
                    <div class="footer-tel flex">
                        <img class="inline" src="/images/phone-solid.svg" alt="phone-solid" class="top-icons"
                            width="14px" height="15px">
                        <a class="block" href="tel:+">
                            +1 123 456 7890
                        </a>
                    </div>
                </h3>
            </span>
            <span class="opening-hrs uppercase">
                <span class="flex">
                    <span>Open Daily</span>
                    <span>:</span>
                </span>
                <div class="footer-time flex">
                    <img class="inline" src="/images/clock-regular.svg" alt="clock-outline" class="top-icons"
                        width="14px" height="15px">
                    <span><time>8:00</time> a.m. to <time>10:00</time> p.m.</span>
                </div>
            </span>
            <div class="cube"></div>
        </div>
    </section>
    <ul class="nav-list flex flex-column text-center uppercase">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="/contact-us" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="/reservation" class="nav-link">Reservation</a></li>
    </ul>
    <ul class="social-links flex flex-column text-center uppercase">
        <li class="social-link"><a href="">Faceboook</a></li>
        <li class="social-link"><a href="">Instagram</a></li>
        <li class="social-link"><a href="">Twitter</a></li>
        <li class="social-link"><a href="">Youtube</a></li>
        <li class="social-link"><a href="">Google Map</a></li>
    </ul>
</footer>

<a class="btn-top flex invisible" href="#top">
    <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg">
        <path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
    </svg>
</a>