<%- include('partials/header') %>
<link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class="container flex flex-column">
        <div class="card bdr-b-l-b-r-15">
            <h1 class="uppercase">404 not found</h1>
            <p>
                We're sorry, but the page you are looking for could not be found.
            </p>
            <div class="return">
                <span>Go back to <a href="/">Home</a> Page.</span>
            </div>
        </div>
    </div>
</body>

</html>