<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preload" as="image" href="/images/interior/pexels-rachel-claire-4577179.jpg">
</head>
    
<body>
    <div class="container">
        <%- include('partials/nav') %>

        <section class="hero">
            <div class="hero-container flex flex-column text-center active">          
                <span class="hero-label uppercase ">Elevate your dining experience</span>
                <div class="separator hero-text-reveal"></div>
                <h1 class="hero-title uppercase">Welcome To <br> Reservá
                </h1>
            </div>
        </section>

        <main id="main">
            <section class="belief flex flex-column">
                <div class="belief-title">
                    <h2>What We Believe In</h2>
                </div>
                <div class="belief-subtitle flex flex-column">
                    <figure>    
                        <svg width="44" height="40" viewBox="0 0 44 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9962 22.8571C14.2281 22.8571 15.995 23.6592 17.2969 25.2632C18.6918 26.7669 19.3893 28.7719 19.3893 31.2782C19.3893 33.985 18.5523 36.1404 16.8784 37.7444C15.2975 39.2481 13.1122 40 10.3223 40C7.06755 40 4.51022 38.6466 2.65033 35.9399C0.883444 33.2331 0 29.3734 0 24.3609C0 19.8496 0.929941 15.6892 2.78982 11.8797C4.64971 7.96992 7.43953 4.06015 11.1593 0.150374C11.2523 0.0501247 11.3918 0 11.5778 0C11.8568 0 12.0892 0.150374 12.2752 0.451122C12.4612 0.751876 12.4612 1.0025 12.2752 1.203C7.71851 6.21553 5.44016 12.1303 5.44016 18.9474C5.44016 21.7544 5.90513 23.8095 6.83507 25.1128C7.67202 23.609 9.39241 22.8571 11.9962 22.8571ZM36.2677 22.8571C38.4996 22.8571 40.2665 23.6592 41.5684 25.2632C42.9633 26.7669 43.6607 28.7719 43.6607 31.2782C43.6607 33.985 42.8238 36.1404 41.1499 37.7444C39.569 39.2481 37.3836 40 34.5938 40C31.339 40 28.7817 38.6466 26.9218 35.9399C25.1549 33.2331 24.2715 29.3734 24.2715 24.3609C24.2715 19.8496 25.2014 15.6892 27.0613 11.8797C28.9212 7.96992 31.711 4.06015 35.4308 0.150374C35.5238 0.0501247 35.6633 0 35.8492 0C36.1282 0 36.3607 0.150374 36.5467 0.451122C36.7327 0.751876 36.7327 1.0025 36.5467 1.203C31.99 6.21553 29.7116 12.1303 29.7116 18.9474C29.7116 21.7544 30.1766 23.8095 31.1065 25.1128C31.9435 23.609 33.6639 22.8571 36.2677 22.8571Z" fill="#face8d"></path>
                        </svg>
                    </figure>
                    <article class="flex flex-column"> 
                        <p>
                            At Reservá, we believe that food is more than just sustenance. It's a way to bring people together, to celebrate life's moments, and to create memories that will last a lifetime. That's why we take pride in every dish we serve, and in every interaction we have with our guests. We strive to make every visit to Reservá a special occasion, and to bring a smile to every face.
                        </p>
                    
                        <p>
                            We take pride in providing exceptional service, a warm and welcoming atmosphere, and a commitment to sustainability. Our team of experienced servers and chefs are dedicated to making your dining experience unforgettable.
                        </p>

                        <p>
                            <strong>
                                "The Best Way To Find Yourself Is To Lose Yourself In The Service Of Others.”
                            </strong>
                        </p>

                        <p>
                            So, come visit us today and taste the difference at Reservá. We look forward to serving you!
                        </p>
                    
                    </article>
                </div>

                <div class="cube text-center"></div>
            </section>

            <section class="story flex flex-column text-center">
                <div class="story-header flex flex-column">
                    <h3 class="uppercase">Our story</h3>
                    <div class="separator"></div>
                    <h2>Over 50 Years Of Providing Services To Customers</h2>
                </div>

                <div class="story-bottom flex flex-column">
                    <div class="story-bottom-left flex flex-column">
                        <p class="story-bottom-left-text">
                            Giving our customers the greatest flavor in every cuisine and dish has always been our top concern. To develop the ideal cuisine with it's own unique tase, we individually gathered chefs from all around.
                        </p>
                        <div class="story-img-container">
                            <img src="/images/story/pexels-rachel-claire-4998026.jpg" width="640" height="960" alt="">
                        </div>
                    </div>
                    <div class="story-bottom-right flex flex-column">
                        <div class="story-bottom-right-container">
                            <h2>Over The Years</h2>
                            <ul class="stats flex flex-column">
                                <li class="stats-item flex flex-column">
                                    <span class="stats-number">30+</span>
                                    <span class="stats-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 40 10" fill="none"><path d="M33.5016 9.5C37.0849 9.5 40 7.48129 40 4.99995C40 2.51861 37.0849 0.5 33.5016 0.5C30.1122 0.5 27.3221 2.30637 27.03 4.6018H22.3529V3.6552L0 3.6552V6.34446L22.353 6.34446V5.39798H27.0301C27.3223 7.69352 30.1122 9.5 33.5016 9.5ZM21.4898 5.54839L0.863293 5.54839V4.45161H21.4898V5.54839ZM27.8662 4.99995C27.8662 2.95778 30.3944 1.2964 33.5017 1.2964C36.6091 1.2964 39.1372 2.95778 39.1372 4.99995C39.1372 7.04222 36.6091 8.7037 33.5017 8.7037C30.3944 8.7037 27.8662 7.04222 27.8662 4.99995Z" fill="#FACE8D"></path></svg>
                                    </span>
                                    <span class="stats-text">Breakfast Options</span>
                                </li>
                                <li class="stats-item flex flex-column">
                                    <span class="stats-number">50+</span>
                                    <span class="stats-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 40 10" fill="none"><path d="M33.5016 9.5C37.0849 9.5 40 7.48129 40 4.99995C40 2.51861 37.0849 0.5 33.5016 0.5C30.1122 0.5 27.3221 2.30637 27.03 4.6018H22.3529V3.6552L0 3.6552V6.34446L22.353 6.34446V5.39798H27.0301C27.3223 7.69352 30.1122 9.5 33.5016 9.5ZM21.4898 5.54839L0.863293 5.54839V4.45161H21.4898V5.54839ZM27.8662 4.99995C27.8662 2.95778 30.3944 1.2964 33.5017 1.2964C36.6091 1.2964 39.1372 2.95778 39.1372 4.99995C39.1372 7.04222 36.6091 8.7037 33.5017 8.7037C30.3944 8.7037 27.8662 7.04222 27.8662 4.99995Z" fill="#DCCA87"></path></svg>
                                    </span>
                                    <span class="stats-text">Dinner Options</span>
                                </li>
                                <li class="stats-item flex flex-column">
                                    <span class="stats-number">8</span>
                                    <span class="stats-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 40 10" fill="none"><path d="M33.5016 9.5C37.0849 9.5 40 7.48129 40 4.99995C40 2.51861 37.0849 0.5 33.5016 0.5C30.1122 0.5 27.3221 2.30637 27.03 4.6018H22.3529V3.6552L0 3.6552V6.34446L22.353 6.34446V5.39798H27.0301C27.3223 7.69352 30.1122 9.5 33.5016 9.5ZM21.4898 5.54839L0.863293 5.54839V4.45161H21.4898V5.54839ZM27.8662 4.99995C27.8662 2.95778 30.3944 1.2964 33.5017 1.2964C36.6091 1.2964 39.1372 2.95778 39.1372 4.99995C39.1372 7.04222 36.6091 8.7037 33.5017 8.7037C30.3944 8.7037 27.8662 7.04222 27.8662 4.99995Z" fill="#DCCA87"></path></svg>
                                    </span>
                                    <span class="stats-text">New Locations</span>
                                </li>
                            </ul>
                        </div>
                        <div class="story-img-container">
                            <img src="/images/story/pexels-rachel-claire-4577715.jpg"  width="640" height="960" alt="">
                        </div>
                    </div>
                </div>
            </section>
            
        </main>

        <%- include('partials/footer') %>
    </div>

    <script src="/javascript/nav.js"></script>
    <script src="/javascript/about.js"></script>
</body>

</html>