@media screen and (min-width: 320px) {
  /* <------- admin auth page-------> */
  #main {
    min-height: 380px;
  }

  .btn {
    margin-block-start: 1rem;
  }
  /* <------- admin auth page-------> */

  /* <------- admin index page-------> */
  /* <------- admin nav page -------> */
  .container {
    justify-content: space-between;
  }

  header {
    padding: 1rem;
    justify-content: space-between;
    background-color: hsl(var(--clr-menu));
  }

  header button .line {
    width: 25px;
    height: 2px;
    margin-block-end: 4px;
    background-color: hsl(var(--clr-white));
    transform-origin: left;
    animation: menuButton 400ms ease-in-out infinite alternate;
  }

  @keyframes menuButton {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.5);
    }
  }

  header button .line-two {
    animation-delay: 150ms;
  }

  header button .line-three {
    animation-delay: 300ms;
  }

  header > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  /* <------- admin primary-nav page-------> */

  .primary-navbar {
    position: fixed;
    inset: 0;
    z-index: 5;
    transition: 0.5s ease;
  }

  .primary-navbar > nav {
    position: fixed;
    top: 0;
    left: -360px;
    bottom: 0;
    width: 100%;
    max-width: 360px;
    padding: 2rem;
    background-color: hsl(var(--clr-dark));
    transition: 0.5s ease;
    overflow-y: scroll;
    z-index: -1;
  }

  .primary-navbar > nav > ul {
    align-items: flex-start;
    margin-block-end: 3rem;
    border-block-end: 1px solid hsl(var(--clr-white));
  }

  .primary-navbar > nav > ul > li:is(.close-holder) {
    align-self: flex-end;
    margin: 2rem 11px 3rem auto;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.35rem;
  }

  .primary-navbar > nav > ul > li:is(.logo-holder) {
    align-self: center;
  }

  .primary-navbar > nav > ul > li:is(.close-holder, .logo-holder) {
    margin-block-end: 3rem;
  }

  .primary-navbar > nav > ul > li:not(.close-holder, .logo-holder) {
    border-block-start: 1px solid hsl(var(--clr-white));
    width: 100%;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(
      .close-holder,
      .logo-holder,
      .users,
      .waitlists-nav,
      .messages,
      .events,
      .logout-route
    ) {
    padding-block: 1rem;
    letter-spacing: 2px;
    height: 52px;
    overflow: hidden;
    transition: all 0.5s ease-in;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder, .users, .waitlists-nav, .message)
    > ul {
    display: none;
    gap: 1rem;
    padding-block: 1rem;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder, .users, .waitlists-nav, .message)
    > ul.show {
    display: block;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder, .users, .waitlists-nav, .message)
    > ul
    > li
    > a {
    padding-block: 1rem;
    letter-spacing: 2px;
    display: block;
  }

  .primary-navbar > nav > ul > li:not(.close-holder, .logo-holder) > a {
    padding-block: 1rem;
    letter-spacing: 2px;
    display: block;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder)
    > form
    > button {
    color: hsl(var(--clr-white));
    padding-block: 1rem;
    letter-spacing: 2px;
    width: 100%;
  }

  .navbar-show {
    transform: translateX(360px);
    z-index: 10;
  }

  .nav-active {
    overflow: hidden;
  }

  /* <------- admin primary-nav page-------> */

  /* <------- admin content page-------> */
  .content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-out, top 500ms ease-in;
  }

  .show-content {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  .content > .heading {
    padding: 2rem 1rem;
  }
  /* <------- admin content page-------> */

  /* <------- admin bookings/tables/users page-------> */
  :is(
      .upcoming-reservations,
      .available-tables,
      .available-users,
      .waitlists,
      .available-messages,
      .available-dishes
    ) {
    margin-block-end: 2rem;
    gap: 1rem;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
  }

  :is(.card-view-options, .card-actions) {
    align-self: flex-end;
    gap: 0.5rem;
    padding-block: 0.3rem;
  }

  :is(.card-view-options) {
    border: 1px solid hsl(var(--clr-muted) / 0.25);
    padding: 0.15rem;
    gap: 0;
    display: none;
  }

  :is(.card-actions, .card-view-options) > button {
    border-right: 1px solid hsl(var(--clr-muted) / 0.25);
    padding: 0.25rem;
    background-color: blue;
  }

  :is(.card-actions, .card-view-options) > button:last-child {
    background-color: hsl(var(--clr-error));
  }

  :is(.card-view-options) > button:first-child {
    border-right: 1px solid hsl(var(--clr-muted) / 0.25);
  }

  :is(.card-view-options) > button {
    background-color: transparent !important;
    border-right: 0;
  }

  :is(.card-view-options) > button:last-child {
    padding-inline-start: 0.35rem;
  }

  :is(.card-actions, .card-view-options) > button > img {
    height: 1rem;
  }

  .card {
    position: relative;
    padding: 1rem;
    border: 1px solid hsl(var(--clr-muted) / 0.25);
    border-radius: 8px;
    background-color: hsl(var(--eerie-black-1) / 0.25);
  }

  .card:not(:last-child) {
    margin-block-end: 2rem;
  }

  .card-content {
    gap: 0.5rem;
    align-items: flex-start;
  }

  .card-content > span > .key {
    color: hsl(var(--clr-white) / 0.9);
    margin-right: 0.25rem;
  }

  .card-actions {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  :is(
      .card-actions.tables-card-actions,
      .available-users-card-actions,
      .available-dishes-card-actions
    ) {
    top: unset;
    bottom: 1rem;
  }

  /* <------- admin bookings/tables/users page-------> */

  /* <------- admin dishes page-------> */

  .available-dishes > .card > .card-content > .img-wrapper {
    height: 200px;
    min-height: 200px;
  }

  .available-dishes > .card > .card-content > .img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* <------- admin dishes page-------> */

  /* <------- admin modal-container page-------> */

  .modal-container {
    padding: 2rem;
  }

  .modal-content > div > h2 {
    padding-block-end: 0.5rem;
    border-bottom: 1px solid hsl(var(--clr-muted) / 0.5);
  }
  .modal-content > div > .btn,
  .action-confirmation-box,
  .action-result-box {
    gap: 1rem;
  }

  .modal-content > div > .btn > button {
    font-size: var(--fs-200);
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    margin-inline-end: 1rem;
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-dark));
    border: 1px solid hsl(var(--clr-primary));
    letter-spacing: 2.5px;
    box-shadow: 0px 3px 0px hsl(var(--clr-primary), 0.5);
  }

  :is(.action-confirmation-box).gone,
  .action-result-box {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease-in, opacity 250ms ease-out;
    position: absolute !important;
  }

  :is(.action-result-box).gone {
    transform: translateX(100%);
  }

  :is(.action-confirmation-box, .action-result-box).show {
    position: relative !important;
    z-index: 1;
    opacity: 1;
    transform: translateX(0%);
    transition: 500ms ease-out;
  }

  .btn button {
    font-size: var(--fs-200);
    font-weight: 600;
    padding: 0.5rem 1.15rem;
    margin-inline-end: 1rem;
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-dark));
    border: 1px solid hsl(var(--clr-primary));
    letter-spacing: 2.5px;
    box-shadow: 0px 3px 0px hsl(var(--clr-primary), 0.5);
  }

  .btn button:last-child {
    background-color: transparent;
    border: 1px solid hsl(var(--clr-primary));
    color: hsl(var(--clr-primary));
  }

  .btn button:first-child:hover {
    background-color: transparent;
    color: hsl(var(--clr-primary));
    transition: 500ms ease-in-out;
  }

  .btn button:hover:last-child {
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-dark));
    transition: 500ms ease-in-out;
  }

  /* <------- admin modal-container page-------> */
  
  /* <------- admin edit-dish page-------> */

  :is(.edit, .add){
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
  }

  :is(.edit, .add) > div:not(:last-child){
    width: 100%;
  }

  :is(.edit, .add) label{
    display: block;
    margin-block-end: 1rem;
  }

  :is(.edit, .add) input{
    border: 1px solid #fff;
    width: 100%;
    padding: 1rem;
    color: white;
  }

  /* <------- admin edit-dish page-------> */
  
  /* <------- admin index page-------> */
}

@media screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
  }

  #index-main {
    height: 100vh;
    overflow-y: auto;
    width: 80%;
    transition: all 0.5s ease;
  }

  #index-main.full-width {
    width: 100%;
  }

  header > a.flex {
    display: none;
  }

  .primary-navbar {
    position: static;
    inset: unset;
    opacity: 1;
    visibility: visible;
    width: 34%;
  }

  .primary-navbar > nav {
    position: relative;
    height: 100vh;
    left: 0;
    background-color: #000000;
    padding: 2rem 0;
  }

  .primary-navbar > nav > ul {
    border-block-end: 0;
    margin-block-end: 0;
  }

  .primary-navbar > nav > ul > li:is(.close-holder) {
    display: none;
  }

  .primary-navbar > nav > ul > li:not(.close-holder, .logo-holder) {
    border-block-start: 0;
  }

  .primary-navbar > nav > ul > li:not(.close-holder, .logo-holder) > a,
  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder)
    > form
    > button {
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: var(--fs-400);
    font-weight: 500;
    color: hsl(var(--clr-muted));
    padding-inline: 2rem;
  }

  .primary-navbar > nav > ul > li:not(.close-holder, .logo-holder) > a:hover,
  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder)
    > form
    > button:hover,
  .primary-navbar
    > nav
    > ul
    > li:not(
      .close-holder,
      .logo-holder,
      .users,
      .waitlists-nav,
      .messages,
      .events,
      .logout-route
    ):hover {
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-muted) / 0.25);
    cursor: pointer;
  }

  .primary-navbar > nav > ul > li:not(.close-holder, .logo-holder) > a.active {
    color: hsl(var(--clr-primary));
  }

  .primary-navbar
    > nav
    > ul
    > li:not(
      .close-holder,
      .logo-holder,
      .users,
      .waitlists-nav,
      .messages,
      .events,
      .logout-route
    ) {
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: var(--fs-400);
    font-weight: 500;
    color: hsl(var(--clr-muted));
    padding-inline: 2rem;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(
      .close-holder,
      .logo-holder,
      .users,
      .waitlists-nav,
      .messages,
      .events,
      .logout-route
    ).active {
    color: hsl(var(--clr-primary));
  }

  .primary-navbar
    > nav
    > ul
    > li:not(
      .close-holder,
      .logo-holder,
      .users,
      .waitlists-nav,
      .messages,
      .events,
      .logout-route
    ).clicked:hover {
    background-color: #000000;
  }

  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder, .users, .waitlists-nav, .message)
    > ul
    > li
    > a:hover {
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-muted) / 0.25);
  }

  .primary-navbar
    > nav
    > ul
    > li:not(.close-holder, .logo-holder, .users, .waitlists-nav, .message)
    > ul
    > li
    > a {
    text-transform: capitalize;
    letter-spacing: 0;
    color: hsl(var(--clr-muted));
    padding-inline: 1rem;
  }

  .primary-navbar.disappear {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  .primary-navbar > .primary-nav.disappear {
    left: -360px;
  }
}

@media screen and (min-width: 1024px) {
  .available-dishes {
    flex-flow: row wrap;
  }

  .available-dishes::-webkit-scrollbar {
    height: 0;
  }

  .available-dishes > .card {
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  .available-dishes > .card {
    width: 32%;
  }

  .primary-navbar{
    width: 20%;
  }
}
