<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/user.css">
    </head>

    <body>
        <div class="container">
            <%- include('../partials/nav') -%>
                <main class="main flex flex-column" id="main">
                    <div class="page-left w-100">
                        <div class="page-left-content flex flex-column">
                            <nav class="secondary-nav flex">
                                <%- include('../user/user-nav') %>
                            </nav>
                        </div>
                    </div>
                    <div class="page-right w-100">
                        <div class="page-right-content">
                            <div class="order-history content-holder flex flex-column" id="order-history-content"
                                data-content-holder>
                                <h2 class="uppercase">order history</h2>
                            </div>
                        </div>
                    </div>
        </div>
        </main>
        </div>
        <script src="/javascript/nav.js"></script>
        <script src="/javascript/user/nav.js"></script>

    </body>

    </html>