<a href="/user/home" id="home" class="user-link" data-content-switcher="home">General</a>
<a href="/user/booking_details" class="user-link" id="booking-details" data-content-switcher="booking-details">Booking
    Details</a>
<a href="/user/booking_history" class="user-link" id="booking-history" data-content-switcher="booking-history">Booking
    History</a>
<a href="/user/order_history" class="user-link" id="order-history" data-content-switcher="order-history">Order
    History</a>
<a href="/user/waitlist" class="user-link" id="waitlist" data-content-switcher="waitlist">Waitlist</a>
<a href="/user/review" class="user-link" id="review" data-content-switcher="review">Review</a>
<form action="/logout" method="post" class="flex">
    <button class="uppercase user-link text-left" type="submit">Log Out</button>
</form>