<header class="flex w-100">
    <button class="link-toggle" data-nav-toggle>
        <span class="line line-one block"></span>
        <span class="line line-two block"></span>
        <span class="line line-three block"></span>
    </button>
    <a href="/" class="flex">
        <img class="logo" src="/images/logo.svg" alt="logo">
    </a>
    <img src="/images/admin/admin.png" alt="">
</header>